# Days, HolyDays, Conversions

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("HistoricalQuotes.csv")

In [3]:
df

           date   close         volume     open     high     low
0         16:00  200.99     24,619,446  201.230  202.760  199.29
1    2019/08/09  200.99  24619750.0000  201.300  202.760  199.29
2    2019/08/08  203.43  27009520.0000  200.200  203.530  199.39
3    2019/08/07  199.04  33364400.0000  195.410  199.560  193.82
4    2019/08/06  197.00  35824790.0000  196.310  198.067  194.04
..          ...     ...            ...      ...      ...     ...
248  2018/08/15  210.24  28595230.0000  209.220  210.740  208.33
249  2018/08/14  209.75  20679270.0000  210.155  210.560  208.26
250  2018/08/13  208.87  25864510.0000  207.700  210.952  207.70
251  2018/08/10  207.53  24592460.0000  207.360  209.100  206.67
252  2018/08/09  208.88  23389530.0000  207.280  209.780  207.20

[253 rows x 6 columns]

In [4]:
rng=pd.date_range(start="2019-06-30", end="2019-08-01",freq="D")

In [5]:
rng

DatetimeIndex(['2019-06-30', '2019-07-01', '2019-07-02', '2019-07-03',
               '2019-07-04', '2019-07-05', '2019-07-06', '2019-07-07',
               '2019-07-08', '2019-07-09', '2019-07-10', '2019-07-11',
               '2019-07-12', '2019-07-13', '2019-07-14', '2019-07-15',
               '2019-07-16', '2019-07-17', '2019-07-18', '2019-07-19',
               '2019-07-20', '2019-07-21', '2019-07-22', '2019-07-23',
               '2019-07-24', '2019-07-25', '2019-07-26', '2019-07-27',
               '2019-07-28', '2019-07-29', '2019-07-30', '2019-07-31',
               '2019-08-01'],
              dtype='datetime64[ns]', freq='D')

In [6]:
from pandas.tseries.holiday import USFederalHolidayCalendar

In [7]:
from pandas.tseries.offsets import CustomBusinessDay

In [8]:
usb=CustomBusinessDay(calendar=USFederalHolidayCalendar())

In [9]:
usb

In [10]:
rng=pd.date_range(start="2019-06-30", end="2019-08-01",freq=usb)

In [11]:
rng

DatetimeIndex(['2019-07-01', '2019-07-02', '2019-07-03', '2019-07-05',
               '2019-07-08', '2019-07-09', '2019-07-10', '2019-07-11',
               '2019-07-12', '2019-07-15', '2019-07-16', '2019-07-17',
               '2019-07-18', '2019-07-19', '2019-07-22', '2019-07-23',
               '2019-07-24', '2019-07-25', '2019-07-26', '2019-07-29',
               '2019-07-30', '2019-07-31', '2019-08-01'],
              dtype='datetime64[ns]', freq='C')

In [12]:
from pandas.tseries.holiday import Holiday,AbstractHolidayCalendar,nearest_workday

In [13]:
class mybday(AbstractHolidayCalendar):
    rules = [Holiday('New Years Day', month=7, day=5)]

In [14]:
usb=CustomBusinessDay(calendar=mybday())

In [15]:
rng=pd.date_range(start="2019-06-30", end="2019-08-01",freq=usb)

In [16]:
rng

DatetimeIndex(['2019-07-01', '2019-07-02', '2019-07-03', '2019-07-04',
               '2019-07-08', '2019-07-09', '2019-07-10', '2019-07-11',
               '2019-07-12', '2019-07-15', '2019-07-16', '2019-07-17',
               '2019-07-18', '2019-07-19', '2019-07-22', '2019-07-23',
               '2019-07-24', '2019-07-25', '2019-07-26', '2019-07-29',
               '2019-07-30', '2019-07-31', '2019-08-01'],
              dtype='datetime64[ns]', freq='C')

In [17]:
class mybday(AbstractHolidayCalendar):
    rules = [Holiday('New Years Day', month=7, day=5,observance=nearest_workday)]

In [18]:
usb=CustomBusinessDay(calendar=mybday())

In [19]:
rng=pd.date_range(start="2019-06-30", end="2019-08-01",freq=usb)

In [20]:
rng

DatetimeIndex(['2019-07-01', '2019-07-02', '2019-07-03', '2019-07-04',
               '2019-07-08', '2019-07-09', '2019-07-10', '2019-07-11',
               '2019-07-12', '2019-07-15', '2019-07-16', '2019-07-17',
               '2019-07-18', '2019-07-19', '2019-07-22', '2019-07-23',
               '2019-07-24', '2019-07-25', '2019-07-26', '2019-07-29',
               '2019-07-30', '2019-07-31', '2019-08-01'],
              dtype='datetime64[ns]', freq='C')

In [21]:
from pandas.tseries.holiday import Holiday,AbstractHolidayCalendar,next_monday
class mybday(AbstractHolidayCalendar):
    rules = [Holiday('New Years Day', month=7, day=5,observance=next_monday)]
usb=CustomBusinessDay(calendar=mybday())
rng=pd.date_range(start="2019-06-30", end="2019-08-01",freq=usb)
rng

DatetimeIndex(['2019-07-01', '2019-07-02', '2019-07-03', '2019-07-04',
               '2019-07-08', '2019-07-09', '2019-07-10', '2019-07-11',
               '2019-07-12', '2019-07-15', '2019-07-16', '2019-07-17',
               '2019-07-18', '2019-07-19', '2019-07-22', '2019-07-23',
               '2019-07-24', '2019-07-25', '2019-07-26', '2019-07-29',
               '2019-07-30', '2019-07-31', '2019-08-01'],
              dtype='datetime64[ns]', freq='C')

In [22]:
business_workingdays = "Sun Mon Tue Wed Thu"

In [23]:
b = CustomBusinessDay(weekmask=business_workingdays)

In [24]:
pd.date_range(start="2019-06-30",periods=30,freq=b)

DatetimeIndex(['2019-06-30', '2019-07-01', '2019-07-02', '2019-07-03',
               '2019-07-04', '2019-07-07', '2019-07-08', '2019-07-09',
               '2019-07-10', '2019-07-11', '2019-07-14', '2019-07-15',
               '2019-07-16', '2019-07-17', '2019-07-18', '2019-07-21',
               '2019-07-22', '2019-07-23', '2019-07-24', '2019-07-25',
               '2019-07-28', '2019-07-29', '2019-07-30', '2019-07-31',
               '2019-08-01', '2019-08-04', '2019-08-05', '2019-08-06',
               '2019-08-07', '2019-08-08'],
              dtype='datetime64[ns]', freq='C')

In [25]:
y=pd.Period(2010)

In [26]:
dir(y)

['__add__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__pyx_vtable__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__weakref__',
 '_add_delta',
 '_add_offset',
 '_dtype',
 '_from_ordinal',
 '_get_to_timestamp_base',
 '_maybe_convert_freq',
 'asfreq',
 'day',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'end_time',
 'freq',
 'freqstr',
 'hour',
 'is_leap_year',
 'minute',
 'month',
 'now',
 'ordinal',
 'quarter',
 'qyear',
 'second',
 'start_time',
 'strftime',
 'to_timestamp',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [27]:
y.start_time

Timestamp('2010-01-01 00:00:00')

In [28]:
y.end_time

Timestamp('2010-12-31 23:59:59.999999999')

In [29]:
y=pd.Period(2010,"M")

In [30]:
y

Period('2010-01', 'M')

In [31]:
y.start_time

Timestamp('2010-01-01 00:00:00')

In [32]:
y=pd.Period(2010+2,"M")

In [33]:
y.start_time

Timestamp('2012-01-01 00:00:00')

In [34]:
y.end_time

Timestamp('2012-01-31 23:59:59.999999999')

In [35]:
y+1

Period('2012-02', 'M')

In [36]:
m=pd.Period(2010+2,"M") # add two years

In [37]:
m

Period('2012-01', 'M')

In [38]:
m+1 # add 1 M

Period('2012-02', 'M')

In [39]:
h=pd.Period('2010-01-01  00:00:11',freq='H')

In [40]:
h

Period('2010-01-01 00:00', 'H')

In [41]:
k=h+pd.offsets.Hour(5)

In [42]:
k

Period('2010-01-01 05:00', 'H')

In [43]:
q=pd.Period('2017Q1')

In [44]:
q

Period('2017Q1', 'Q-DEC')

In [45]:
q=pd.Period('2017Q2')
q

Period('2017Q2', 'Q-DEC')

In [46]:
q=pd.Period('2017Q2', freq='Q-JAN')
q

Period('2017Q2', 'Q-JAN')

In [47]:
q.start_time

Timestamp('2016-05-01 00:00:00')

In [48]:
q.asfreq('M',how='start')

Period('2016-05', 'M')

In [49]:
q.asfreq('M',how='end')

Period('2016-07', 'M')

In [50]:
w = pd.Period('2017-07-05',freq='W')
w

Period('2017-07-03/2017-07-09', 'W-SUN')

In [51]:
w-1

Period('2017-06-26/2017-07-02', 'W-SUN')

In [52]:
w2 = pd.Period('2017-08-15',freq='W')
w2

Period('2017-08-14/2017-08-20', 'W-SUN')

In [53]:
w2-w

In [54]:
r = pd.period_range('2011', '2017', freq='q')
r

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
             '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4',
             '2017Q1'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [55]:
r[0].start_time

Timestamp('2011-01-01 00:00:00')

In [56]:
r[0].end_time

Timestamp('2011-03-31 23:59:59.999999999')

In [57]:
r = pd.period_range('2011', '2017', freq='q-jan')
r

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [58]:
r[0].start_time

Timestamp('2010-11-01 00:00:00')